@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Itim&family=Lobster&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Navbar.module.css */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    /* background-color: #FCA24B; */
    background-blend-mode: soft-light;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid #003434;
    font-family: "Itim", serif;
    z-index: 1000;
}

.navItem{
  font-size: 1.2rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
}

.logo img {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: auto;
}

.nav-menu {
    display: none;
}

@media (min-width: 768px) {
    .nav-menu {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.nav-item {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
    color: gray;
}

/* Contact Us Button */
.contact-button {
    display: none;
}

@media (min-width: 768px) {
    .contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1rem;
    }
}

.contact-button button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 40px;
    background-color: #003434;
    border-radius: 10px;
    border: 4px solid #003434;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.contact-button button:hover {
    transform: scale(0.9);
}

.contact-button span {
    position: absolute;
    inset: -3.8px;
    width: 107px;
    height: 33px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #003434;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #003434;
}

/* Mobile Menu */
.menu-toggle {
    margin-right: 0.5rem;
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle div {
    display: grid;
    justify-items: center;
    gap: 5px;
}

.bar {
    height: 5px;
    width: 30px;
    border-radius: 4px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.menu-open .bar:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-open .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    width: 98%;
    height: 45vh;
    background-color: rgba(0, 100, 80, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid #003434;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.dropdown-menu a:hover {
    color: gray;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-open .dropdown-menu {
    animation: fadeIn 0.5s ease-in-out forwards;
}



.navbar {
    top: 0;
    /* background-color: #FCA24B; */
    width: 100vw;
    background-blend-mode: soft-light;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid #003434;
    font-family: "Itim", serif;
  }
  
  .container {
    margin: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
  }
  
  .logoSection {
    display: flex;
    align-items: center;
  }
  
  .cloud {
    position: absolute;
    top: 0;
  }
  
  .ceaLogo {
    position: absolute;
    top: 0.75rem;
    left: 1.5rem;
  }
  
  .buildingIcon {
    position: absolute;
    top: 0.75rem;
    left: 5.5rem;
  }
  
  .menuItems {
    display: none;
  }
  
  @media (min-width: 768px) {
    .menuItems {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  
  .menuList {
    display: flex;
    gap: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .menuList {
      gap: 1.25rem;
    }
  }
  
  @media (min-width: 1024px) {
    .menuList {
      gap: 3.75rem;
    }
  }
  
  .navItem a {
    color: black;
  }
  
  .navItem a:hover {
    color: #1a1a1a;
  }
  
  .globe {
    position: absolute;
    top: -10px;
    right: 3rem;
  }
  
  @media (min-width: 768px) {
    .globe {
      right: 5rem;
    }
  }
  
  .star {
    position: absolute;
    left: 13rem;
    top: 45px;
  }
  
  @media (min-width: 768px) {
    .star {
      left: 35rem;
    }
  }
  
  .circle {
    position: absolute;
    right: 5rem;
    top: 45px;
  }
  
  @media (min-width: 768px) {
    .circle {
      right: 13rem;
    }
  }
  
  .contactButton {
    display: none;
  }
  
  @media (min-width: 768px) {
    .contactButton {
      display: flex;
      align-items: center;
      padding-right: 1rem;
      justify-content: center;
      text-align: center;
    }
  }
  
  @media (min-width: 1024px) {
    .contactButton {
      padding-right: 3.5rem;
    }
  }
  
  .button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 80px;
    height: 33px;
    background-color: #003434;
    border-radius: 10px;
    border-top-right-radius: 13px;
    border: 4px solid #003434;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(0.9);
  }
  
  @media (min-width: 768px) {
    .button {
      width: 110px;
      height: 40px;
    }
  }
  
  .buttonInner {
    position: absolute;
    inset: -3.8px;
    width: 76px;
    height: 30px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #003434;
  }
  
  @media (min-width: 768px) {
    .buttonInner {
      width: 107px;
      height: 33px;
    }
  }
  
  .buttonText {
    position: relative;
    color: #003434;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .menuButton {
    margin-right: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .menuButton {
      display: none;
    }
  }
  
  .mobileMenu {
    position: absolute;
    background-color: rgba(52, 211, 153, 0.1);
    top: 4rem;
    height: 45vh;
    width: 98%;
    background-blend-mode: soft-light;
    margin: 0 0.25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #003434;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    font-family: "Itim", serif;
  }
  
  .mobileMenuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    gap: 0.75rem;
  }